# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - qcomrs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: qcomrs.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E70A475139EB4A6ABE4DDF0C71295D0B }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_0A2E4681A150432CB2E8F76555BB2F2F }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: qcomrs.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E70A475139EB4A6ABE4DDF0C71295D0B }}/react-express:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F4EE54804A3641FC9B90D1FCA1DC8E91 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4C98E2CDF4FE44C5ADF47BE7609FC005 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_461A74423EFB49BEB92F0958B95C9926 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'qcomrs'
          slot-name: 'Production'
          images: 'qcomrs.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E70A475139EB4A6ABE4DDF0C71295D0B }}/react-express:${{ github.sha }}'
          